@import "tailwindcss";

HTML, body {
    overflow-x: hidden;
}

/* hide scrollbar for WebKit browsers */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@keyframes circle-loader {
  from {
    stroke-dashoffset: var(--circumference, 63);
  }
  to {
    stroke-dashoffset: 0;
  }
}

