@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  /* Font Variable */
  --primaryfont: 'Georgia', serif;

  /* Color Variable (Tailwind amber-300) */
  --primary-color: #fcd34d;
  
  /* Optional: Background for the luxury feel */
  --bg-creme: #FDFBF7;
}



/* Luxury Headings */
 h2, h3, .font-serif-italic {
  font-family: var(--primaryfont);
  font-style: italic;
}

HTML, body {
    overflow-x: hidden;
}

/* hide scrollbar for WebKit browsers */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@keyframes circle-loader {
  from {
    stroke-dashoffset: var(--circumference, 63);
  }
  to {
    stroke-dashoffset: 0;
  }
}

.navItems {
  font-family: "Figtree", sans-serif;
  font-weight: normal;
  font-style: normal;
}
